<!DOCTYPE html>
<html>

<head>
    <title>Express</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <style>
        .card {
            height: 300px;
            background: #4133b7;
            color: whitesmoke;
        }

        .exp-text {
            padding-top: 109px;
        }

        .content {
            padding-left: 378px;
        }
    </style>
</head>

<body>
    <div class="row text-center content">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h1 class="exp-text">Express Is Running</h1>
                    <p>Developed By Vikrant Rana</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>